/*** GENERAL STYLES AND UTILITY CLASSES ***/
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, p {
  color: #f9faea;
}
h1 {
  font-size: 85px;
  font-weight: bold;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 60px;
  font-weight: 300;
}
p {
  font-size: 22px;
  font-weight: 300;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 700px repeat(4, 1fr);
}
/*** HEADER AREA ***/
header {
  grid-area: 1 / 1 / span 1 / span 12;
  background-image: url('../img/forest-small.jpg');
  height: 700px;
  background-size: cover;
  background-position: center;
}
nav {
  float: right;
  padding: 25px 50px 25px 0px;
  word-spacing: 30px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #f9faea;
}
nav ul li a:hover {
  color: gray;
}
.jumbotron {
  clear: both;
  width: auto;
  position: relative;
  left: 25px;
}
/*** SECTION GRID AREAS ***/
.about {
  grid-area: 2 / 1 / span 1 / span 12;
  background-color: #4f3b02;
}
.skills {
  grid-area: 3 / 1 / span 1 / span 12;
  background-color: #444037;
}
.projects {
  grid-area: 4 / 1 / span 1 / span 12;
  background-color: #382804;
}
.footer {
  grid-area: 5 / 1 / span 2 / span 12;
  background-color: #a87600;
}
/*** UTILITY CLASSES ***/
.box {
  border: 1px solid black;
}
.subhead {
  position: relative;
  bottom: 26px;
  right: 1px;
  margin: 0;
}
.content {
  margin-bottom: 50px;
  line-height: 32px;
}
.profile {
  max-width: 60%;
  height: 350px;
  margin: auto;
  box-sizing: border-box;
  background-image: url('../img/ryan2.jpg');
  background-size: cover;
  background-position: bottom center;
}
.two-third {
  width: 66.66%;
  float: left;
  box-sizing: border-box;
}
.half-width {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.third-width {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
}
