/*** GENERAL STYLES ***/
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
h1, h2, p {
  color: #f9faea;
}
h1 {
  font-size: 65px;
  font-weight: bold;
}
h2 {
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 300;
}
/*** THUMBNAIL NAVIGATION ***/
nav {
  float: right;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}
nav ul {
  list-style: none;
}
nav ul li {
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
/*** UTILITY CLASSES ***/
.nav-thumb {
  width: 50px;
  height: 32px;
  border: 1px solid gray;
  opacity: .7;
  transition: .3s;
}
.nav-thumb:hover {
  border: 1px solid #ffffff;
  opacity: 1;
}
.full-width {
  width: 100%;
  clear: both;
}
.half-width {
  width: 50%;
  float: left;
}
.sticky {
  position: sticky;
  top: 0;
}
/*** GRID DEFINITION ***/
#grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 100vh);
}
/*** SECTION GRID AREAS ***/
#home {
  grid-area: 1 / 1 / span 1 / span 12;
  background-image: url('../img/forest-small.jpg');
  background-size: cover;
  background-position: center;
}
#image1 {
  grid-area: 2 / 1 / span 1 / span 12;
  background-image: url('../img/gregory-hayes-small.jpg');
  background-size: cover;
  background-position: center;
  z-index: 3;
}
#image2 {
  grid-area: 3 / 1 / span 1 / span 12;
  background-image: url('../img/jeff-finley-small.jpg');
  background-size: cover;
  background-position: center;
  z-index: 4;
}
#image3 {
  grid-area: 4 / 1 / span 1 / span 12;
  background-image: url('../img/mike-scheid-small.jpg');
  background-size: cover;
  background-position: center;
  z-index: 5;
}
#image4 {
  grid-area: 5 / 1 / span 2 / span 12;
  background-image: url('../img/sheldon-thompson-small.jpg');
  background-size: cover;
  background-position: center;
  z-index: 6;
}
#jumbotron {
  text-align: center;
  position: relative;
  top: 175px;
}
